@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
:root{
	--mainFont : 'Pattaya', sans-serif;
	--border : 5px solid /*#03568f*/ #ffd700;
	--radius : 5px;
	--informal: 'Indie Flower', cursive;
}
html{
	scroll-behavior: smooth;
}
body{
	background-image: url('../img/bg.jpg');
	background-attachment: fixed;
	margin: 0;
	font-family: var(--mainFont);
}
.waves{
	display: grid;
	place-items: center;
}
.waves h1{
	text-align: center;
	margin: 0 auto;
	font-size: clamp(20px, 4em, 7em);
	text-shadow: 5px 0 2px rgba(0,0,0,.1);
	width: max-content;
	background-color: white;
	padding: 10px;
	border: var(--border);
	border-radius: var(--radius);
}
.waves p{
	background-color: white;
	font-size: clamp(15px, 1.5em, 5em);
	font-family: sans-serif;
	border: var(--border);
	padding: 10px;
	border-radius: var(--radius);
}
.svg-2{
	/*background-image: radial-gradient(black 10%, transparent 1px);*/
	background-size: 70px 70px;
}
.waves button{
	width: 180px;
	margin-top: 10px;
	font-size: 1.2em;
	border-radius: var(--radius);
	background: white;
	border: var(--border);
	color: black;
	padding: 10px 25px;
	font-family: 'Raleway', sans-serif;
	font-style: bold;
	cursor: pointer;
	transition: all .5s ease;
	position: relative;
}
.waves button:hover{
	box-shadow: 0 0 5px rgba(0,0,0,.3);
}
.waves button span{
	transition: .5s ease;
}
.waves button span a{
	text-decoration: none;
}
.waves button span:after{
	content: '\00bb';
	display: block;
	position: absolute;
	opacity: 0;
	top: 9px;
	right: -3px;
	transition: 0.5s ease;
}
button:hover span{
	padding-right: 25px;
}
button:hover span:after{
	opacity: 1;
	right: 10px;
}

.section-2 .member{
	width: 150px;
	padding: 10px;
	font-size: clamp(20px, 2em, 7em);
	box-shadow: 0 3px 8px rgba(0,0,0,.3);
	border: var(--border);
	margin: auto;
	margin-top: -90px;
	margin-bottom: 70px;
	text-align: center;
	border-radius: var(--radius);
	background-color: white;
}
.section-2 .cards{
	margin: auto;
	width: 88%;
	height: 450px;
	display: grid;
	grid-template-columns:  repeat(5, 1fr);
	/*border: 3px solid black;*/
}
.section-2 .card{
	margin: 15px;
	border-radius: 10px;
	overflow: hidden;
	transition: .5s ease;
	cursor: pointer;
}
.section-2 .card:nth-child(1), .section-2 .card:nth-child(5){
	box-shadow: 0 10px 15px rgba(0,0,0,.3);
	margin: 0 -15px;
	transform: scale(.80);
}
.section-2 .card:nth-child(2), .section-2 .card:nth-child(4){
	box-shadow: 0 10px 15px rgba(0,0,0,.5);
	transform: scale(.95);
}
.section-2 .card:nth-child(3){
	box-shadow: 0 10px 15px rgba(0,0,0,.7);
	transform: scale(1.05);
}
.card:nth-child(1){
	background-image: url('../img/anggell.jpg');
	background-size: cover;
	background-position: -50px 0;
}
.card:nth-child(2){
	background-image: url('../img/fifi.jpeg');
	background-size: cover;
	background-position: 0 -45px;
}
.card:nth-child(3){
	background-image: url('../img/wahyu.jpg');
	background-size: cover;
	background-position: -90px 0;
}
.card:nth-child(4){
	background-image: url('../img/nurul.jpeg');
	background-size: cover;
}
.card:nth-child(5){
	background-image: url('../img/weni.jpg');
	background-size: cover;
	background-position: 0 0;
}
.section-2 .intro{
	margin: 40px 0;
	width: 100%;
	background-color: white;
	border-top: var(--border);
	border-bottom: var(--border);
}
.section-2 .click{
	padding: 10px;
	margin: auto;
	font-size: 3em;
	cursor: default;

}
.section-2 p{
	font-size: 1.5em;
	font-family: var(--informal);
	margin: 0 auto;
	width: 60%;
	columns: 2;
	padding: 30px;
}
.section-3{
	margin: auto;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
}
.section-3 .biography{
	width: 100%;
	height: 500px;
	display: flex;
	background-color: #03568f;
	margin: 40px 0;
	padding: 40px 0;
	padding-right: 35px;
	outline: var(--border);
	box-sizing: border-box;

}
.left{
	flex: .5;
	margin: 50px;
	display: block;
	width: 100%;
	background-size: cover;
	border-radius: 5px;
	border-top: 15px solid white;
	border-bottom: 15px solid white;
	box-shadow: 0 5px 15px rgba(255,255,255,.5);
}
.right{
	flex: 2.5;
	padding-bottom: 30px;
	border-radius: 15px;
	border: var(--border);
	color: white;
	text-shadow: 3px 3px 5px rgba(0,0,0,.5);
	box-shadow: 0 5px 15px rgba(255,255,255,.5);
}
.right h1{
	margin-bottom: 30px;
}
.img-bio-wahyu{
	background-image: url('../img/wahyu.jpg');
	background-position: center;
}
.img-bio-anggel{
	background-image: url('../img/anggel.jpg');
}
.img-bio-weni{
	background-image: url('../img/weni.jpg');
}
.img-bio-fifi{
	background-image: url('../img/fifi.jpeg');
	background-position: 0 -150px;
}
.img-bio-nurul{
	background-image: url('../img/nurul.jpeg');
}
.bio{
	font-family: var(--informal);
}
.bio ul{
	font-size: 2em;
}
.map{
	width: 30%;
	height: 90%;
	border: 3px solid white;
	float: right;
	margin-top: -150px;
	margin-right: 50px;
}

/*Responsive Card*/
@media( max-width: 1000px){
	.section-2 .member{
		margin-top: 0px;
	}
	.section-2 .cards{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(5, 1fr);
	}
	.section-2 .card{
		height: 300px;
		background-repeat: no-repeat;
		background-position: 0 0;
	}
	.card:nth-child(2){
		background-position: 70px -265px;
	}
	.card:nth-child(4), .card:nth-child(5){
		background-position: center -150px;
	}

	.section-2 .intro{
		position: relative;
		top: 500px;
	}
	.section-2 p{
		width: 60%;
	}
	.section-3 .biography{
		position: relative;
		top: 500px;
		flex-direction: 
	}
	.img-bio-wahyu{
		background-position: -100px 0;
	}
	.bio ul{
		font-size: 1.2em;
	}
	.map{
		margin-left: 15px;
		margin-top: -110px;
	}
	.img-bio-fifi{
		background-position: center -50px;
	}
	.img-bio-nurul,.img-bio-weni{
		background-position: -25px 0;
	}

}
@media (max-width: 650px){
	.card.wahyu-img{
		background-position: -70px 0;
	}
}